<h1 mat-dialog-title> Company Form</h1>
<form [formGroup]="myForm" (ngSubmit)="createCompany()">
    <div mat-dialog-content class="">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name Company</mat-label>
                <input formControlName="name" type="text" matInput placeholder="Name company">
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Foundation Year</mat-label>
                <input formControlName="foundationYear" type="text" matInput placeholder="Foundation Year">
                <mat-icon matSuffix>event</mat-icon>
                <mat-hint>YYYY</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Url imagen</mat-label>
                <input [readonly]="true" formControlName="url" type="text" matInput placeholder="url image">
                <mat-icon matSuffix>link</mat-icon>
            </mat-form-field>
        </div>
        <div class="row">
            <input type="file" (change)="onFileSelected($event)" />
        </div>
        <div class="row">
            <img [src]="preview" class="preview" />
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid ||isDisabled">
            <mat-spinner class="spinner" diameter="20" *ngIf="isDisabled"></mat-spinner>
            <span *ngIf="!isDisabled">{{company? 'Update' : 'Save'}}</span>
        </button>
    </div>
</form>
