<mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
<div *ngIf="!loading" class="form-container mat-elevation-z5" >
    <form [formGroup]="myForm" (ngSubmit)="signUp()">
        <!-- <img src="./assets/images/seguridad.png" width="50%"> -->
        <h1>Register</h1>
        <mat-form-field appearance="outline">
            <mat-label>Full name</mat-label>
            <input type="text" formControlName="fullName"matInput>
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput >
            <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="confirmPassword" matInput >
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="myForm.errors?.['passswordsDontMatch']">
        Password should match
        </mat-error>
        <div class="center margin-top">
            <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">
                <mat-icon>app_registration</mat-icon>
                Sign Up
            </button>
        </div>
        <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="/login">Login</a></span>
        

    </form>
</div>
